body{
    background-color: aqua;
}

main{
    background-color: darkgoldenrod;
    height: max-content; width: max-content;
    margin-left: auto; margin-right: auto;
}

section{
    height:150px; width:300px;
    background-color: black;
    margin-left: auto; margin-right: auto;
}
header{
    font-size: xx-large; text-align: center;
    background-color: goldenrod;

}
#strtBtn{
    height: 70px; width: 95px;
    margin-right: auto; margin-left: auto;
    text-align: center; font-size: large; font-weight: bold;
}
.questions{
    color:white;
    text-align: center;
    font-size: larger;
}

#timer{
    color: black;
    background-color: yellow;
    height: 100px; width: 100px;
    border: solid;
    text-align: center; font-size: xx-large;
}
#q1{
    background-image: url(../Images/toyStory.jpg);
}

#q2{
    background-image: url(../Images/avengers3.jpg);
}

#q3{
    background-image: url(../Images/starwars1.jpg);
}
#q4{
    background-image: url(../Images/lion-king-review.jpg);
}