body{
    background-color: aqua;
    color: black;
}

main{
    background-color: darkgoldenrod;
    height: max-content; width: max-content;
    margin-left: auto; margin-right: auto;
}

section{
    height:200px; width: 300px;
    color: white; background-color: black;
    margin-left: auto; margin-right: auto;
}
header{
    font-size: xx-large; text-align: center;
    background-color: goldenrod;

}
#strtBtn{
    height: 150px; width: 225px;
    margin-right: auto; margin-left: auto;
    text-align: center; font-size: large; font-weight: bold;
}
.questions{
    color:turquoise;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

#timer{
    color: greenyellow;
    background-color: black;
    height: 100px; width: 100px;
    border: solid;
    text-align: center; font-size: xx-large;
    margin-left: auto; margin-right: auto;
}

#q1{
    background-image: url();
}

#q2{
    background-image: url();
}

#q3{
    background-image: url();
}
#q4{
    background-image: url();
}

aside{
    height: 200px; width: 200px;
    font-size: xx-large; font-weight: bolder;
    color: black;
    border: black, solid;
    margin-left: auto; margin-right: auto;
}

#submit{
    margin-right: auto; margin-left: auto;
    height: 50px; width: 75px;
}